---
import TechBadge from "@components/TechBadge.astro";
import ProjectCard from "@components/RepoCard.astro";
import Layout from "@layouts/Layout.astro";
import { technologies } from "@utils/data";

type TechBadgeProps = {
  name: string;
  imgSrc: string;
  altSrc: string;
  link: string;
  ariaLink: string;
};

type PinnedRepos = {
  name: string;
  repo: string;
  description: string;
  language: {
    name: string;
    color: string;
  };
  stars: number;
  forks: number;
};

const pinnedRepos = await fetch(
  "https://gh-pinned-repos-api.ysnirix.xyz/api/get/?username=yashsuhagiya"
);
const data = await pinnedRepos.json();
const repos = data.response;
---

<Layout title="Yash Suhagiya | Home">
  <main class="p-5 lg:p-2">
    <div class="flex flex-col-reverse items-center justify-center md:flex-row">
      <div class="w-9/12 text-white md:w-[450px]">
        <span
          class="text-5xl lg:text-6xl font-[1100] tracking-tight xl:tracking-tight text-center md:text-left"
        >
          Hi I'm
        </span>
        <span
          class="text-transparent text-5xl lg:text-6xl pt-0 pb-3 font-[1100] tracking-tight xl:tracking-tight bg-clip-text bg-gradient-to-br from-primary to-secondary text-center md:text-left"
        >
          <br />Yash Suhagiya
      </span>
        <h3 class="text-base mt-2 mb-3 glitch text-center md:text-left">
          EAT, SLEEP, CODE AND REPEAT!
        </h3>
        <p class="mt-4 text-lg text-center md:text-left">
          Welcome to my little corner of the web! I am pursuing my master's at
          TU Dresden and I'm a software engineer. I am interested in <strong
            >software development</strong
          >, <strong>blog writing</strong>, and <strong>DevOps.</strong>
        </p>
      </div>
      <img
        id="pfp-1"
        class="mb-10 md:mb-0 h-[120px] w-[120px] md:h-[240px] md:w-[240px] rounded-full ml-0 md:ml-10"
        src="https://lh3.googleusercontent.com/a/ACg8ocJjxE7ZLK-OZMxL6rnqAnqzbm6vH2HVvzFKZzMRRptlbQg=s360-c-no"
        alt="Yash Suhagiya"
      />
    </div>
    <div class="my-10 flex items-center justify-center md:my-16">
      <div class="w-9/12 text-white md:w-[740px]">
        <h1 class="text-lg mt-2 glitch text-center md:text-left">
          I am currently a Principle Engineer at
          <a
            href="https://patentassist.ai"
            target="_blank"
            class="rounded-lg hover:text-primary p-1">PatentAssist.ai</a
          > and at
          <a
            href="https://incubolabs.com/"
            target="_blank"
            class="rounded-lg hover:text-primary p-1">IncuboLabs</a
          >. I am also a blog writer at
          <a
            href="https://kundligpt.com/"
            target="_blank"
            class="rounded-lg hover:text-primary p-1">KundliGPT</a
          >. I am working as a full-time intern at
          <a
            href="https://smart-nanotubes.com/"
            target="_blank"
            class="rounded-lg hover:text-primary p-1">SmartNanotubes</a
          >.
        </h1>
      </div>
    </div>
    <div class="my-10 flex items-center justify-center md:my-16">
      <div class="w-9/12 text-white md:w-[740px]">
        <h2 class="text-3xl font-bold">Technologies</h2>
        <p class="mt-4 text-left">
          I like playing around and learning new programming languages,
          frameworks and libraries. These are the technologies that I love
          working with:
        </p>
        <div
          class="grid grid-cols-2 gap-y-5 md:grid-cols-3 md:gap-y-8 md:gap-x-4 mt-10"
        >
          {
            technologies.map((tech: TechBadgeProps) => (
              <a
                href={tech.link}
                class="cursor-pointer text-gray-300"
                aria-label={tech.ariaLink}
              >
                <TechBadge {...tech} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div class="my-10 flex items-center justify-center md:my-16">
      <div class="w-9/12 text-white md:w-[740px]">
        <h2 class="text-3xl font-bold">Projects / Assignments</h2>
        <p class="mt-4 text-left"></p>
        <div
          class="grid grid-cols-1 gap-y-5 md:grid-cols-2 md:gap-y-8 md:gap-x-4 mt-10"
        >
          {repos.map((repo: PinnedRepos) => <ProjectCard {...repo} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
