---
import Layout from "@layouts/Layout.astro";
import { socials } from "@utils/data";
import { Icon } from "astro-icon";

type Socials = {
  name: string;
  url: string;
  imgSrc: string;
  ariaLabel: string;
};
---

<Layout
  title="Socials | Yash Suhagiya"
  description="Links for social media of Yash Suhagiya"
>
  <main class="mb-28 mt-14">
    <img
      src="https://media.licdn.com/dms/image/D4E03AQHauIW2FlptdA/profile-displayphoto-shrink_200_200/0/1691783780015?e=1709769600&v=beta&t=ViIK5_SJNA7gvfoqOXNhHE92LRZxPHEwMn7fb-MI1Xc"
      class="mx-auto border-2 border-white border-solid rounded-full w-40 mb-10"
    />
    <h2 class="px-2 mb-3 text-3xl text-center text-white">Yash Suhagiya</h2>
    <p class="px-2 mb-10 text-2xl font-bold text-center">
      Full-Stack Developer based in Germany
    </p>s
    <div class="flex flex-col items-center gap-6 md:gap-8 justify-center">
      {
        socials.map((opt: Socials) => {
          return (
            <a
              class="flex justify-center items-center rounded bg-neon-green px-8 py-3 w-[350px] md:w-[450px] text-md text-center font-medium text-gray-800 transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:bg-neon-green"
              href={opt.url}
              aria-label={opt.ariaLabel}
            >
              <Icon name={opt.imgSrc} class="mr-2" />
              <p class="text-gray-800">{opt.name}</p>
            </a>
          );
        })
      }
    </div>
  </main>
</Layout>
