---

---

<a class="group block h-56 cursor-pointer" href="/projects">
  <div
    class="text-white relative flex h-full items-end rounded-3xl border-2 border-black bg-[#646664] p-8 transition group-hover:-translate-x-2 group-hover:-translate-y-2 group-hover:shadow-[8px_8px_0_0_#000]"
  >
    <div class="lg:group-hover:absolute lg:group-hover:opacity-0">
      <span class="text-3xl sm:text-4xl" role="img" aria-hidden="true">
        <svg
          fill="#ffffff"
          height="24"
          width="24"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 210 210"
          xml:space="preserve"
          stroke="#ffffff"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <g id="XMLID_27_">
              <path
                id="XMLID_28_"
                d="M25,80C11.215,80,0,91.215,0,105s11.215,25,25,25c13.785,0,25-11.215,25-25S38.785,80,25,80z"
              ></path>
              <path
                id="XMLID_30_"
                d="M105,80c-13.785,0-25,11.215-25,25s11.215,25,25,25c13.785,0,25-11.215,25-25S118.785,80,105,80z"
              ></path>
              <path
                id="XMLID_71_"
                d="M185,80c-13.785,0-25,11.215-25,25s11.215,25,25,25c13.785,0,25-11.215,25-25S198.785,80,185,80z"
              ></path>
            </g>
          </g></svg
        >
      </span>
      <p class="mt-4 text-xl font-bold sm:text-2xl">See More</p>
    </div>

    <div
      class="absolute opacity-0 lg:group-hover:relative lg:group-hover:opacity-100"
    >
      <h3 class="text-2xl font-bold">See More</h3>

      <p class="my-2 text-base font-normal leading-relaxed">
        See More Projects
      </p>
    </div>
  </div>
</a>
